@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
    color: #1f1f1f;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f0f0f0;
}

button {
    cursor: pointer;
}

input {
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 1.15rem;
    padding-block: 0.75rem;
    padding-inline: 1rem;
    width: 100%;
    
    &:focus {
        outline: none;
    }
}